// This code has been generated with a script

/**
 * Enum {{enumName}}
 * @readonly
 * @enum { string }
 * @description {{fullTitle}}
 */
export enum {{enumName}} {
{{#each enumMembers}}

  /**
   * {{description}}
   * @description {{notes}}{{#if deprecated}}
   * @deprecated{{/if}}
   * @default '{{value}}'
   */
  {{key}} = <any>'{{value}}',
{{/each}}
}
