/**
 * Enum {{shortTitle}}
 * @readonly
 * @enum { string }
 * @description {{fullTitle}}
 */
export enum {{shortTitle}} {
  {{#each enumMembers}}
  /**
   * {{description}}
   * @description {{notes}}{{#if deprecated}}
   * @deprecated{{/if}}
   */
  {{key}} = <any>'{{value}}',
  {{/each}}
}
